// トップメインヴュー部分のCSS
@charset "UTF-8";

.back_fv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(../image/back_fv.jpg) no-repeat center;
  object-fit: cover;
}
.app {
  width: 100%;
  height: 100%;
}

.mp_container {
  height: 33%;
  position: relative;
  .time_display {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  .icon {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    z-index: 10;
  }

  .replay {
    position: absolute;
    top: 70%;
    left: 55%;
    width: 30px;
    height: 30px;
    transform: scale(1, -1) rotate(250deg);
  }
}
/* 瞑想線の丸いライン */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }
  
}






